.quiz-screen{width: 100%}
/*Iphone 5s SE*/
@media only screen and (min-width: 415px) and (max-width: 767px){
    .desk-none {display: block!important;}
    .mob-none {display: none!important;}
    .pushy {width: 40% !important}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .desk-none {display: block!important;}
    .mob-none {display: none!important;}
    .pushy {width: 35% !important}
}

@media only screen and (min-width: 320px) and (max-width: 414px){
    h1 {font-size: 30px}
    h2 {font-size: 24px}
    h6 {font-size: 12px}
    .mob-none {display: none}
    .desk-none {display: block}
    .quiz-screen {padding-left: 15px}
    .desk-none-header {
        padding: 0!important;
    }
    .footer-logos {

    }
    /*Main*/
    #main {width: 100%}
    #main h1 {
        font-size: 25px;
    }
    .inner-bottom-block {
        flex-grow: 1;
        flex-shrink: 0;
        width: calc(100vw / 2);
    }
    .bottom-block {
        width: 100%;
        display: flex;
        flex-grow: 0;
        overflow-x: scroll;
    }
    .non-sm {display: none}
    /*End Main*/
    /*Main-second*/
    #main-second {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #main-second .jumbotron {font-size: 12px}
    /*End Main-second*/
    /*Main-third*/
    #main-third {
        height: auto;
    }
    #main-third h5 {font-size: 14px}
    #main-third .skill-blocks {height: 150px;}
    /*End Main-third*/
    /*Main-four*/
    #main-four {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #main-four .review {height: 160px;}
    /*End Main-four*/
    /*Main-five*/
    #main-five {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }
    #main-five .blog {height: 175px}
    /*End Main-five*/
    /*Main-six*/
    #main-six {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
    }
    #main-six p {font-size: 12px;}
    /*End Main-six*/
    /*Footer*/
    footer {
        height: auto;
    }
    footer ul {display: block!important;}
    footer ul > li:nth-child(2){width: auto}
    footer .footer-info {margin-left: 15px; font-size: 12px}
    .justify-content-end {justify-content: center!important;}
    .margin-75 {margin-top: 25px}
    .margin-25 {margin-top: 0}
/*    End Footer*/
}
@media (width: 414px) and (height: 736px){
    h1 {font-size: 30px}
    h2 {font-size: 24px}
    h6 {font-size: 12px}
    .mob-none {display: none}
    .desk-none {display: block}
    /*Main*/
    #main {width: 100%}
    #main h1 {
        font-size: 25px;
    }
    .inner-bottom-block {
        flex-grow: 1;
        flex-shrink: 0;
        width: calc(100vw / 2);
    }
    .bottom-block {
        width: 100%;
        display: flex;
        flex-grow: 0;
        overflow-x: scroll;
    }
    .non-sm {display: none}
    /*End Main*/
    /*Main-second*/
    #main-second {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #main-second .jumbotron {font-size: 12px}
    /*End Main-second*/
    /*Main-third*/
    #main-third {
        height: auto!important;
    }
    #main-third h5 {font-size: 14px}
    #main-third .skill-blocks {height: 150px;}
    /*End Main-third*/
    /*Main-four*/
    #main-four {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #main-four .review {height: 160px;}
    /*End Main-four*/
    /*Main-five*/
    #main-five {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }
    #main-five .blog {height: 175px}
    /*End Main-five*/
    /*Main-six*/
    #main-six {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
    }
    #main-six p {font-size: 12px;}
    /*End Main-six*/
    /*Footer*/
    footer {
        height: auto;
    }
    footer ul {display: block!important;}
    footer ul > li:nth-child(2){width: auto}
    footer .footer-info {margin-left: 15px; font-size: 12px}
    .justify-content-end {justify-content: center!important;}
    .margin-75 {margin-top: 25px}
    .margin-25 {margin-top: 0}
}

@media (min-height: 1024px) and (max-height: 2200px){
    #main {height: calc(100vh * 0.5)!important;}
    #main-second {height: calc(100vh * 0.6)!important;}
    #main-third {height: calc(100vh * 0.7);}
    #main-four {height: calc(100vh * 0.35);}
    #main-five {height: calc(100vh * 0.35);}
    #main-six {height: calc(100vh * 0.35);}
    footer {height: calc(100vh * 0.30)!important;}
}
@media (min-width: 1200px) and (min-height: 720px){
    #main-third {height: calc(100vh * 1.5)!important;}
    footer {height: calc(100vh * 0.38)!important;}
}
@media (min-width: 1000px) and (min-height: 801px) and (max-height: 1199px) {
    #main-second {height: calc(100vh * 0.7);}
    #main-third {height: calc(100vh * 1.3);}
    #main-four {height: calc(100vh * 0.6);}
    #main-five {height: calc(100vh * 0.6);}
    footer {height: calc(100vh * 0.30);}
}

/*Album*/
@media only screen and (min-width: 568px) and (max-width: 900px) and (min-height: 320px){
    #main h1 {font-size: 20px}
    .inner-bottom-block {
        flex-grow: 1;
        flex-shrink: 0;
        width: calc(100vw / 3);
    }
    .bottom-block {
        width: 100%;
        display: flex;
        flex-grow: 0;
        overflow-x: scroll;
    }

    #main-second{height: auto;}
    #main-third {height: auto}
    #main-four {height: auto}
    #main-five {height: auto; padding-bottom: 15px}
    #main-six {height: auto; padding-top: 15px;padding-bottom: 15px}
    footer {height: calc(100vh * 0.88)}
    footer li {font-size: 12px!important;}
}
@media only screen and (min-width: 667px) and (max-width: 900px) and (min-height: 375px) {
    footer {height: calc(100vh * 0.75)}
    footer li {font-size: 14px!important;}
}
@media only screen and (min-width: 736px) and (max-width: 900px) and (min-height: 414px) {
    footer {height: calc(100vh * 0.68)}
}
@media only screen and (min-width: 812px) and (max-width: 900px) and (min-height: 375px) {
    footer {height: calc(100vh * 0.55)}
    footer li {font-size: 13px!important;}
    footer .social-icon {margin-left: 10px}
}
@media only screen and (min-width: 896px) and (max-width: 900px) and (min-height: 375px) {
    footer {height: calc(100vh * 0.45)}
}
@media only screen and (min-width: 1500px) and (max-width: 2550px) and (min-height: 1079px) {
    footer {
        margin-top: 100px;
        height: calc(100vh * 0.25)!important;
    }
    .quiz-screen {
        min-height: 700px;
        padding-top: 150px;
        padding-left: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .p-400{
        padding-top: 400px;
    }
}








