/*
Admin Users Start
**/
/*
/admin/users route styles
 */
.h-100{
    height: 100px;
    width: 100px;
}
.mxh-100{
    max-height: 100px;
    overflow: scroll;
}
.mxh-150{
    max-height: 150px;
    overflow: scroll;
}
.mxh-200{
    max-height: 200px;
    overflow: scroll;
}
.mxh-350{
    max-height: 350px;
}
.img-request-user{
    width: 100%;
    height: 350px;
}

.mh-50{
    min-height: 50px;
    height: auto;
}
.mh-100{
    min-height: 100px;
    height: auto;
}
.mh-150{
    min-height: 150px;
    height: auto;
}
.mh-250{
    min-height: 250px;
    height: auto;
}
.mh-350{
    min-height: 350px;
    height: auto;
}
.centered-bg{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.users-icon{
    font-size: 80px;
}
.l-blue-blush{
    background: linear-gradient(45deg, #7fd9d0, #23808f) !important;
    color: #fff !important;
}
.l-green-blush{
    background: linear-gradient(45deg, #23d750, #0f898f) !important;
    color: #fff !important;
}
.l-violet-blush{
    background: linear-gradient(45deg, #6e09a7, #d3205b) !important;
    color: #fff !important;
}
.l-dark-blue-blush{
    background: linear-gradient(45deg, #380a49, #2c9daf) !important;
    color: #fff !important;
}
.l-dark-green-blush{
    background: linear-gradient(45deg, #0ecd08, #1e543e) !important;
    color: #fff !important;
}
.l-dark-violet-blush{
    background: linear-gradient(45deg, #3b2341, #b515d8) !important;
    color: #fff !important;
}
.l-light-blue-blush{
    background: linear-gradient(45deg, #617fe5, #7850ba) !important;
    color: #fff !important;
}
.l-dark-salad-blush{
    background: linear-gradient(45deg, #2d4934, #15ff2f) !important;
    color: #fff !important;
}
.l-light-orange-blush{
    background: linear-gradient(45deg, #ff6c00, #ffd700) !important;
    color: #fff !important;
}
.btn-add{
    border-radius: 50%!important;
    width: 50px;
    height: 50px;
    position: sticky;
    left: 95%;
    bottom: 30px;
    font-size: 20px;
    padding: 12px;
}
.card-result{
    border-radius: 5%;
}
.card-result-header{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    padding: 5%;
}

.btn-a{
    padding: 10px 20px;
    margin: 0 5px;
    text-transform: none;
}
.profile-card-4 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}
.profile-card-6 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-6 img {
    transition: all 0.15s linear;
}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}

/*Max Width*/
@media screen and (max-width: 768px){
    .sm-none{
        display: none;
    }
    .p-sm-5{
        padding: 5px;
    }
    .p-sm-10{
        padding: 5px;
    }
    .p-sm-15{
        padding: 15px;
    }
    .p-sm-20{
        padding: 20px;
    }
    .absolute-right{
        position: absolute;
        right: 0;
    }
    /*Admin - Teacher - Course*/
    .course-item {
        height: auto;
        background-color: white;
        border-radius: 15px;
    }
    .course-item-header{
        width: 100%;
        display: table;
        border-radius: 20px 0;
    }
    .course-item-image{
        padding: 20px;
        border-radius: 50%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .course-item-image>img{
        border-radius: 50%;
        width: 85%;
        height: 150px;
    }
    .course-title{
        padding: 10px;
    }
    .m-2{
        display: inline;
        padding: 0;
    }
    /*  Admin - Teacher - Subscriber   */
    .subscriber-image{
        min-height: 60px;
        border-radius: 50%;
        width: 25%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .img-request-user{
        width: 100%;
        height: 300px;
    }


}



/*Max - width 768*/


@media screen and (min-width: 768px) {

    .md-mh-350{
        min-height: 350px;
        height: auto;
    }
    .md-mh-400{
        min-height: 400px;
        height: auto;
    }
    /*Admin - Teacher - Course*/
    .course-item {
        height: auto;
        background-color: white;
        border-radius: 15px;
    }

    .course-item-header {
        display: table;
        border-radius: 20px 0;
    }

    .course-item-image {
        padding: 20px;

        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .course-item-image > img {
        width: 90%;
        height: 190px;
    }
    .course-title {
        padding: 10px;
    }
    .m-2 {
        margin: 2px;
    }
    /*Admin - Teacher - Subscriber*/
    .subscriber-card{
        min-height: 50px;
        border-radius: 55px;
        padding: 10px;
        margin-left: 10px
    }
    .subscriber-image{
        min-height: 75px;
        border-radius: 80%;
    }
    .absolute-right{
        position: absolute;
        right: 10px;
    }
}
@media screen and (min-width: 1440px){
    .lg-8{
        width: 8.88%;
    }
    .p-lg-10{
        padding: 10px;
    }
    .p-lg-20{
        padding: 20px;
    }
    .p-lg-30{
        padding: 30px;
    }
    .p-lg-40{
        padding: 40px;
    }
    .p-lg-50{
        padding: 50px;
    }

}
